body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header, footer {
    background-color: pink;
}

.site-title {
    color: crimson;
}

#my-image {
    box-shadow: 0 0 2px 1px black;
}

ul {
    list-style: square;
}

article ul li:nth-child(odd) {
    background: hotpink;
}

nav ul li {
    list-style: none;
    
}