body {
    font-family: 'Open Sans';
}

/* wrapper to contains all the content */
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background: #222;
}

.nav {
    align-items: center;
    padding: 20px
}

ul li {
    list-style: none;
    text-align: center;
    color: #c78c06;
    padding: 15px;
    padding-left: 0;
}

/*set the text decoration of hyperlinks to none,
which means that links will not have an underline by default.*/
a:link {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

li:nth-child(1) {
    background: #c78c06;
}

li:nth-child(2) {
    background: #c78c06;
    color: #222;
}

li img {
    margin-right: 1000px;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

input[type="search"] {
    width: 100%;
    height: 35px;
}

.searchbutton {
    border: none;
    background: none;
    padding-left: 0;
    font-size: x-large;
}

.fa-magnifying-glass {
    color: #c78c06;
    background-color: #222;
    border: 1px solid #c78c06;
}

.container {
    position: relative;
}

.container img {
    width: 100%;
}

.welcome {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px 10px;
    font-size: xx-small;
    transform: translate(-50%, -50%);
    width: 97%;
}

.title {
    font-size: 50px;
}

.yellowbutton {
    background: #c78c06;
    border: none;
    padding: 20px 15px;
    font-size: large;
}

h2 {
    font-size: 80px;
    margin-bottom: 0px;
    margin-top: 20px;
}

h3 {
    padding: 0px 10px;
    font-size: 35px;
    margin-bottom: 0;
}

section p {
    padding: 10px;
    margin-bottom: 0;
}

.about {
    background: #ffe6ac;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.about img {
    width: 100%;
}

.services img {
    width: 100%
}

.button {
    margin: 0px 10px 10px;
    font-size: large;
}

.item1, .item2, .item3, .item4, .item5 {
    background: #ffe6ac;
    margin-bottom: 10px;
}

.button {
    border: none;
    color: white;
    background: #222;
    padding: 25px 30px;
}

.fa-solid {
    padding: 5px;
}

/* style for a section with a background image */
.vision {
    background-image: url('../images/vision.jpg');
    background-position: center;
    background-size: cover;
    height: 350px;
    width: auto;
    color: white;
    padding: 10px;
    margin-left: -5%;
    margin-right: -5%;
}

.visiontext {
    padding-top: 3%;
    margin: 0 10%;
}

.visiontext h3 {
    padding-left: 0;
}


.buttonblue {
    border: 1px solid #c78c06;
    color: white;
    background: linear-gradient(to right, #0F1B2E, #16263E);
    padding: 20px;
    margin: 0 10%;
}

.team {
    background: #ffe6ac;
    margin-bottom: 20px;
}

.team img {
    width: 100%
}

.team h3 {
    margin: 10px 0 5px;
}

.team p {
    margin-left: 10px;
    padding-bottom: 30px;
}

.ceo {
    font-weight: 900;
    padding-bottom: 0px;
    margin: 0px 5px 0px;
}

hr {
    margin-top: -5%;
    border-color: #c78c06;
    width: 98%
}

form {
    margin: 0 auto;
    padding: 10px;
}

form input[type="text"] {
    height: 25px;
    width: 100%;
}

form input[type=text]:nth-child(11) {
    height: 150px;
}

form input[type="submit"] {
    border: none;
    background-color: #222;
    color: #c78c06;
    font-size: 15pt;
    margin: 20px 0px;
    padding: 5px;
}


/* style a table by collapsing borders, setting the width,
adding a border to each cell, and applying background color to the table header.
style the caption also.*/
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid;
    padding: 15px;
}

tr th {
    background-color: #ffe6ac;
}

caption {
    font-size: xx-large;
    font-weight: bold;
    text-align: left;
    padding-bottom: 10px;
}

iframe {
    width: 100%;
}

footer {
    background-color: #222;
    color: #c78c06;
    width: 100%;
    padding: 30px 20px 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* styles for screens 760px wide and above (desktop ver.) */
@media screen and (min-width: 760px) {


    /* Style for a navigation bar */
    ul {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    
    ul li {
        margin: 0 10px;
        padding: 2%;
        width: 100px;
    }

    /* Adjust padding for second list item to make space for logo */
    ul li:nth-child(2) {
        padding-left: 2.5%;
    }
      
    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: #222;
        margin-left: 5%;
    }
      
    .search {
        display: flex;
        align-items: center;
        margin-left: 3%;
    }
      
    .search input[type="search"] {
        padding: 5px;
        border: none;
    }
      
    .logo {
        max-height: 70px; /* adjust to the size of logo */
    }

    li img {
        margin-right: 0;
        margin-top: 0;
    }

    li:nth-child(1) {
        background: none;
    }

    .welcome {
        width: 85%;
        font-size: x-large;
        object-fit: cover;
    }

    .container .welcome-img {
        height: 600px;
    }

    .welcome h1 {
        font-size: 50pt;
    }

    /* set the flex container to have a row direction and centers its children horizontally using the justify-content property. */
    .about {
        flex-direction: row;
        justify-content: center
    }

    .about img {
        width: 40%;
        padding-left: 10%;
    }

    .abouttext h2 {
        padding-left: 20px;
        font-size: 40px;
        margin-top: 0;
    }

    .abouttext p {
        padding-left: 20px;
        padding-right: 20%;
    }

    /* grid layout with six columns and two rows, with grid items defined by their respective grid areas. Each grid area is assigned to a corresponding class item (item1 to item5) */
    .item1 {
        grid-area: a;
    }

    .item1 p {
        padding: 10px;
    }

    .item1 .button {
        width: 96%;
    }

    .item2 {
        grid-area: b;
    }

    .item2 p {
        padding: 10px;
    }

    .item2 .button {
        width: 96%;
    }

    .item3 {
        grid-area: c;
    }

    .item3 p {
        padding: 10px;
    }

    .item3 .button {
        width: 94%;
    }

    .item4 {
        grid-area: d;
    }

    .item4 p {
        padding: 10px;
    }

    .item4 .button {
        width: 94%;
    }

    .item5 {
        grid-area: e;
    }

    .item5 p {
        padding: 10px;
    }

    .item5 .button {
        width: 94%;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: auto;
        grid-template-areas:
            'a a a b b b'
            'c c d d e e';
        grid-gap: 10px;
    }

    /* align a row of team members with equal space between them, and reverse the order of the second team member. */
    .team {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
      
    .team:nth-child(2) {
        flex-direction: row-reverse;
    }
      
    .team img {
        order: 2;
    }
    
    /* display the message and location side by side, with the table underneath them */
    .flexcontact {
        display: flex;
        flex-wrap: wrap;
    }
      
    .message {
        width: 49%;
        order: 1;
        margin-right: 10px;
    }
      
    .loc {
        width: 49%;
        order: 2;
    }
      
    table {
        width: 100%;
        order: 3;
    }
}